@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");

body {
  margin: 0;
  padding: 0;
  background-color: #f4f8fb;
  font-family: 'Roboto', sans-serif;
  color: #8c93bd;
}
.Header {
  padding: 0.5em;
  background-color: #fff;
  border-bottom: 1px solid #e5eff5;
}
.Header-container {
  grid-template-columns: minmax(auto, 1024px);
  display: grid;
  justify-content: center;
  margin: auto 35%;
}
.Header-content {
  display: flex;
  
}
.Header-logo {
  display: flex;
  
}
.Header h1 {
  font-size: 1em;
  font-weight: 400;
  color: #1d113c;
}
.Header h1 span {
  padding: 3px 9px;
  font-weight: 300;
  border-radius: 6px;
  font-size: 0.8em;
  letter-spacing: 1.2px;
  color: #fff;
  background-image: linear-gradient(45deg, #282758, #3d4aa2);
}
.Header img {
  width: 100%;
  height: auto;
}
.Header ul {
  margin: 0;
  padding: 0;
  display: inline;
  margin: 0 2em 0 1.5em;
}
.Header li {
  display: inline;
  margin: 0 0 0 1.5em;
  font-size: 1.27em;
  font-weight: 400;
  cursor: pointer;
}
.Header a {
  text-decoration: none;
  color: #1d113c;
  margin: 0 0 0 1.5em;
}
.Header-data{
  padding: 1%;
  text-align: right;
  font-weight: 500;
  font-size: 0.92em;
  color: #1d2333;
}
.Header-fbLogin {
  padding: 3px 9px;
  border-radius: 1px;
  color: #fff;
  background-color: #3b5998;
  cursor: pointer;
  text-align: center;
  width: 450%;
}
.Header-fbLogin a{
  color: #fff;
}

.Home {
  padding: 2em 1em;
}
.Home-container {
  grid-template-columns: minmax(auto, 1024px);
  display: grid;
  justify-content: center;
}
.Home-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-row-gap: 1em;
}
.Pets-items-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  grid-row-gap: 1em;
}

.Footer {
  padding: 0.5em;
  margin: 2em 0 0 0;
  /* background-color: #fff; */
  border-top: 1px solid #e5eff5;
  /* border-bottom: 1px solid #e5eff5; */
  /************/
  margin-top: 5px;
  position: fixed;
  /*background-color: dodgerblue;*/
  text-align: center;
  right: 0;
  bottom: 0;
 
  padding: 1.5rem;
  background-color: #1d2333;
  text-align: center;
  max-height: 4px;
  width: 100%;
}
.Footer-container {
grid-template-columns: minmax(auto, 1024px);
display: grid;
justify-content: center;
}
.Footer-content {
display: block;
justify-content: space-between;
align-items: center;
color: #94c9d4;
font-size: 0.8em;
}
.Footer h2 {
  font-size: 1em;
  font-weight: 400;
  color: #1d113c;
}
.Footer span {
  padding: 3px 9px;
  font-weight: 300;
  border-radius: 6px;
  font-size: 0.8em;
  letter-spacing: 1.2px;
  color: #fff;
  background-image: linear-gradient(45deg, #282758, #3d4aa2);
}
.Footer-social i {
  margin: 0 .5em 0 0;
  font-size: 20px;
}
.Nav-ul{text-align: center; padding: 8%;}