<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/app.css">
    
    <title>DataFrame</title>
</head>
<body>
    <div class="Header">
        <div class="Header-container">
            <div class="Header-content">
                <div class="Header-logo">
                    <Link to="/" >
                        <img src="http://www.inguat.gob.gt/templates/home/img/logo-guatemala-inguat.jpg" alt=""/>
                    </Link>
                </div>
                <div class="Header">
                    <ul>
                        <li>
                            <a href="http://localhost:8080/datasets"> << Regresar </a> 
                        </li>
                        <li>
                            <a href="/datasets"> Ver Datasets  </a> 
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
    
        <div class="Header-fbLogin"><h2>{{name}}</h2> </div>
    <div class="Header-data">
        {{ data.to_html(classes="table table-striped") | safe}}
    </div>    
    
       
    <div class="Footer">
        <div class="Footer-container">
            <div class="Footer-content">
                <div className="Footer-logo">
                    Otto Romeo Catalán Arreaga @ 2019
                </div>
                <div className="Footer-social">
                    Machine Learning Turismo Interno
                </div>
            </div> 
        </div>
    </div>
        
</body>
</html>