<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Api-Inguat</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet" type="text/css">
        <link href="static/css/style.css" rel="stylesheet" type="text/css">

        <!-- Styles -->
    <title>Inguat Machine Learning</title>
  </head>
  <body>
    <div id="app"></div>
    <div class="links">
                  
      <!-- <a href="/Encuesta">Encuesta</a>
      <a href="/dashboard">Panel</a>
      <a href="/prediction">Login </a> -->
    
  </div>
      <div class="flex-center position-ref full-height">
          
      <img src="img/logoinguat.jpg" alt="">
          <div class="content">              
          </div>
      </div>
  
  <footer>
      <div class="autor">
          <p>Romeo Catalán.  Copyrights 2018</p>
          
      </div>
  </footer>
  </body>
</html>