<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Api-Inguat</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet" type="text/css">
        <!-- Styles -->
        <link href="static/css/style.css" rel="stylesheet" type="text/css">
        <link href="/static/css/app.css" rel="stylesheet" type="text/css">
    <title>Inguat Machine Learning</title>
  </head>
  <body>
    <div id="app"></div>
    <div class="links">
      <!-- <a href="/Encuesta">Encuesta</a>
        <a href="/dashboard">Panel</a>
        <a href="/prediction">Login </a> -->
      </div>
          <header>
            <div class="Header">
              <div class="Header-container">
                  <div class="Header-content">
                      <div class="Header-logo">
                          <img src='/static/img/logoinguat.jpg' alt=""/>
                      </div>
                  </div>
              </div>
            </div>
            <nav class="Nav">
              <ul class="Nav-ul">
                  <h2 class="Nav-item Drop-main">MACHINE LEARNING API- INGUAT</h2>
              </ul>
            </nav>
          </header>
      
  <footer>
    <div class="Footer">
      <div class="Footer-container">
        <div class="Footer-content">
          Romeo Catalán @ 2019 /  Machine Learning Turismo Interno
        </div> 
      </div>
    </div>
  </footer>
  </body>
</html>